<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registration.css">
    <title>Document</title>
</head>
<body>
    <main>
        <!--Header-->
        <header id="header">
            <h2>Food Blog</h2>
        </header>

        <!--Form Content-->
        <div class="main-container">
            <div id="form-content">
    
                <div id="form-image">
                    <h2>Welcome <br> To Food Blog</h2>
                    <img src="../registration-image.jpg" alt="registration-image">
                </div>
    
                <div id="form-box">
    
                    <form action="../views/login.html" method="">
                        <h3>SIGN UP</h3>
                        <span>Please fil this form to create an account</span>
                        <hr>
                        <div class="form-control">
                            <input type="text" name="firstname" placeholder="Firstname">
                            <input type="text" name="lastname" placeholder="Lastname">
                        </div>
                        <div class="form-control">
                            <input type="email" name="email" placeholder="Example@gmail.com">
                        </div>
                        <div class="form-control">
                            <input type="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-control">
                            <input type="password" name="confirm-password" placeholder="Confirm Password">
                        </div>
                        <div class="form-control sign-up-section">
                            <div><button type="submit">Sign Up</button></div>
                            <div><p>already have an account? <u>login here</u></p></div>
                        </div>
                    </form>
    
                </div>
            </div>
            
            <!--Footer-->
            <footer>
                <span>&copy; www.foodblogcom</span>
                <span>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed 
                    diam nonumy eirmod tempor invidunt ut labore et dolore
                </span>
            </footer>
        </main>
        </div>
</body>
</html>